config.title.splash=Tzu Chi Boston<br>Library Manager
config.title.frame=Tzu Chi Boston Library Manager
config.image.prefix=tzuchi
config.out.weeks=2
config.auth.required=true
config.driver=com.mysql.jdbc.Driver
config.protocol=jdbc
config.subprotocol=mysql
config.dsname=//tzuchi.dyndns.org/tzuchi_library
config.username=tzuchidb
config.password=tzuchiboston
config.params=useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
