config.title.splash=Tzu Chi Academy<br>Library Manager
config.title.frame=Tzu Chi Academy Library Manager
config.image.prefix=tzuchi-academy
config.out.weeks=2
config.auth.required=false
config.driver=com.mysql.jdbc.Driver
config.protocol=jdbc
config.subprotocol=mysql
config.dsname=//tzuchiacademy/tzuchi_library
config.username=tzuchi
config.password=
config.params=useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
